{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}
    <div id="wrapper">



        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                        Flujos
                </li>
                <li class="sidebar-brand">
                        ____________________
                </li>
                <li>
                    <a href="{% url 'modificarFlujo' idflujo %}">Atras</a>
                </li>
                <li>
                    <a href="{% url 'homepage' %}" rel="next">Home</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
					&rsaquo; <a href="{% url 'elegirProyecto' %}">Lista de Proyectos</a>
                    &rsaquo; <a href="{% url 'ver_proyecto' proyectoid %}">Resumen de Proyecto</a>
					&rsaquo; <a href="{% url 'modificarFlujo' idflujo %}">Modificar Flujos</a>
                    &rsaquo; Eliminar Actividad del Flujo
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                    </div>
				</div>
                <div class="row">
                    <div class="col-lg-12">
						<h2  class="list-group-item active">
								Datos de la Actividad
						</h2>
                        <form class="" method="POST">
                            {% csrf_token %}
						        <div class="form-group ">
                                    <p>Desea eliminar esta Actividad del Flujo: {{flujo.nombre}} ?</p>
                                    <p>Nombre de la Actividad: {{actividad.nombre}}</p>
                                </div>
                                <div>
                                    <!--<input type="hidden" value="eliminar" id="operacion" name="operacion" />-->
                                    <button class="btn bg-success" name="respuesta" value="si">SI</button>
                                    <button class="btn bg-warning" name="respuesta" value="no">NO</button>
                                </div>
                        </form>


                    <!--    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


{% endblock %}
