{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                        Flujos
                </li>
                <li class="sidebar-brand">
                        ____________________
                     </li>
                <li>
                    <a href="{% url 'listarFlujos' proyectoid %}">Atrás</a>
                </li>
                <li>
                    <a href="{% url 'homepage' %}" rel="next">Home</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
					&rsaquo; <a href="{% url 'elegirProyecto' %}">Lista de Proyectos</a>
                    &rsaquo; <a href="{% url 'ver_proyecto' proyectoid %}">Resumen de Proyecto</a>
					&rsaquo; <a href="{% url 'listarFlujos' proyectoid %}">Flujos</a>
                    &rsaquo; Importar Flujos
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                    </div>
				</div>
                <div class="row">
                    <div class="col-lg-12">
						<h2  class="list-group-item active">
								Lista de Flujos del Sistema.
						</h2>
						{% if flujos %}
						    <table>
                                {% for flujo in flujos %}
                                    <tr>
                                        <th scope="row"> {{ flujo.nombre }}</th>
                                        <td > <a class ="addlink" href="{% url 'confirmarImportacion' flujo.id proyecto.id %}"> Ver </a></td >
                                    </tr>

                                {% endfor %}
                            </table>
					    {% else %}
                            <div class="alert-danger form-control" role="alert">
                                {{ mensaje1 }}
                            </div>
					  	{% endif %}
                        {% if mensaje == "Flujo importado Correctamente." %}
                            <div class="alert-success form-control" role="alert">
                              {{ mensaje }}
                            </div>
					  	{% endif %}

                    <!--    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


{% endblock %}
