{% extends "base.html" %}

{% block title%} SGP {% endblock%}

{% block body%}
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Administración de US
                </li>
                 <li class="sidebar-brand">
                        ____________________
                     </li>
                <li>
                <li>
                    <a href="{% url 'ListaUS' proyectoid sprintid %}" >Atrás</a>
                </li>

                <li>
                    <a href="{% url 'homepage' %}" >Home</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="breadcrumbs">
					<a href="{% url 'homepage' %}">Home</a>
					&rsaquo; <a href="{% url 'elegirProyecto' %}">Lista de Proyectos</a>
                    &rsaquo; <a href="{% url 'ver_proyecto' proyectoid %}">Resumen de Proyecto</a>
					&rsaquo; <a href="{% url 'ListarSprint' proyectoid %}" >Sprints del Proyecto</a>
                    &rsaquo; <a href="{% url 'ListaUS' proyectoid sprintid %}" >US del Sprint</a>
                    &rsaquo; <a href="{% url 'ElegirMiembroUS' US.id proyectoid sprintid %}">Miembros del Sprint</a>
					&rsaquo; Datos del Usuario
                    <div class="btn bg-primary">
                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                    </div>
				</div>
                <div class="row">
                    <div class="col-lg-12">
						<h2  class="list-group-item active">
								Desasignar usuario al US: {{US.nombreUS}}
                        </h2>
                        <form action="" class="" method="post" >{% csrf_token %}
							<div class="form-group ">
								<label for="username">Username:  {{ usu.user.username }} </label>
							</div>
							<div class="form-group ">
								<label for="nombre">Nombre:  {{ usu.user.first_name}}</label>

							</div>
							<div class="form-group">
								<label for="apellido">Apellido:  {{ usu.user.last_name }}</label>
							</div>
							<div class="form-group ">
								<label for="direccion">Dirección:  {{usu.direccion}}</label>
							</div>
                            <div class="form-group ">
								<label for="descripcion">Descripción:  {{usu.descripcion}}</label>
							</div>
                            <div class="form-group ">
								<label for="captrabajo">Capacidad de trabajo:  {{usu.captrabajo}}</label>
							</div>
                            <div class="form-group ">
								<label for="horastrabajadas">Horas que trabajó:  {{usu.trabasignado}}</label>
							</div>
							<div class="form-group ">
								<label for="email">Email:  {{ usu.user.email }}</label>
							</div>
                             <button class="btn bg bottom-left" >Desasignar </button>
                            {% if mensaje %}
                                {% if mensaje == 'El US ha sido desasignado con exito' %}
                                    <div class="alert-success form-control" role="alert">
                                        {{ mensaje }}
                                    </div>
                                {% else %}
                                    <div class="alert-danger form-control" role="alert">
                                        {{ mensaje }}
                                    </div>
                                {% endif %}
                            {% endif %}

						</form>
                    <!--    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar/Ocultar Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock %}
